<br/>

<div class="jumbotron">
<h1 class="text-center"> Hoot Home </h1> 
<br/>  
<div class= "card p-3">

 <div class= "card-body" >
  <% @tweets.reverse.each do |tweet| %>
    <tr>
      <h1><%= link_to tweet.user.email, user_profile_path(tweet.user) %></h1>
      
          <% if tweet.user.avatar.present? %>
          <%= image_tag(tweet.user.avatar.variant(resize_to_fill: [50, 50]), class: "rounded-circle") %>
          <% else %>
          <%= image_tag("default_avatar_small.jpg", width: 50, :style => "border-radius: 100px") %>
          <% end %>
      <h2><td><%= tweet.body %></td></h2>
      <h5><td><%= tweet.created_at %></td></h5>
    </tr>

    <br/>
    <% if current_user == tweet.user %>
        <%= link_to "Delete", tweet_path(tweet.id), :confirm => "Are you sure?", :method => :delete, class:"btn btn-danger  " %>
    
    <% end %>
    <% if current_user.liked? tweet %>
    <%= link_to dislike_tweet_path(tweet.id), method: :put do %>
      <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
      <%= tweet.get_likes.size %>
      <% end %>

      <% else %>
      <%= link_to like_tweet_path(tweet), method: :put do %>
          <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
          <%= tweet.get_likes.size %>
        <% end %>
        <br/>  <br/>
        <hr>
    <% end %>
  <% end %>    
 
</div>
</div>
 <br/>
  
<button class= "btn btn-dark "> <i class="bi bi-pencil-square"></i> <%= link_to 'New Tweet', new_tweet_path(@user), :class => "text-decoration-none text-light"%> </button>
</div>


